<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app4g">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".server.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">

        <activity
            android:name=".features.rut.RutActivity"
            android:theme="@style/AppThemeMain" />

        <activity
            android:name=".features.cart.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".InformasiRekening" />

        <activity android:name=".features.petani.detailpupuk.DetailPupukActivity" />

        <activity
            android:name=".features.petani.KartuPetani"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.webview.ECommerce"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.webview.KalenderTanam"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.webview.Kios"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.webview.PortalInformasi"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.webview.InfoKur"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.webview.InfoBeasiswa"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.petani.EditPoktan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.petani.EditProfile"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.petani.jatah.ListDataPupuk"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.petani.anak.InputDataAnak"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.petani.anak.ListDataAnak"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Testdoang"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.petani.MenuUtama"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain" />

        <activity
            android:name=".ListData"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.users.registrasi.Regist"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain" />

        <activity
            android:name=".features.users.login.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain" />

        <activity
            android:name=".PagerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".features.e_commerce.EcommerceActivity" />

        <activity android:name=".features.rutDetail.RutDetailActivity" />

    </application>

</manifest>